<div class="welcome">

    <div class="banner">
        <app-navbar></app-navbar>
        <!-- <h3 class="quest-heading">How much does an application cost?</h3> -->
    </div>

    <div class="card">
        
        <p class="quest-out-of">Question {{qnProgress + 1}} of 10</p>
        <div class="card-head">
            <h3 class="question"> {{ questions[qnProgress].text }} </h3>
            <div class="progress">
                <span class="determinate" [style.width.%]="(qnProgress+1)*10"> </span>
            </div>
        </div>


        <div class="card-body" *ngFor="let quest of questions[qnProgress].options; let i = index;">
            <div class="options" (click)="Answer(questions[qnProgress].id, i)" >
                <label for="android" class="options">
                    <input type="radio" value="Andriod" name="mobile-app" id="">
                    {{quest.text}}
                    
                    <!-- <span>{{quest.text}}</span> -->
                </label>
            </div>
        </div>

        <div class="footer">
            <button *ngIf="qnProgress !=0 " (click)="previous(questions[qnProgress].id)">
                <i class="material-icons">chevron_left</i>
                <span class="preview-btn">previous</span>
                
            </button>
            <!-- <button class="next-btn" (click)="next(questions[qnProgress].id)">next</button> -->
        </div>

    </div>

    <!-- <app-footer></app-footer> -->
</div>