

header{
    width: 100%;
    background-color: white;
    padding: .2rem 0;
    position: absolute;
    top: 0;
    left: 0;

    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        a.logo{
            display: block;
            padding: .3rem 0;
            
            cursor: pointer;
            img{
                width: 15%;
            }
        }
        ul{
                list-style: none;
                display: flex;
                padding: 0;

                li{
                    padding: 0 1rem;

                    a{
                        cursor: pointer;
                        color: black;
                        font-family: sans-serif;
                        font-weight: 500;

                        &:hover{
                            color: gray;
                            transition: all .25s;
                        }
                    }
                }
            }
    } 
    
}